@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../fonts/basic0/basisgrotesquepro-light-webfont.woff2') format('woff2'),
         url('../fonts/basic0/basisgrotesquepro-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../fonts/basic0/basisgrotesquepro-regular-webfont.woff2') format('woff2'),
         url('../fonts/basic0/basisgrotesquepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../fonts/basic0/basisgrotesquepro-black-webfont.woff2') format('woff2'),
         url('../fonts/basic0/basisgrotesquepro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}